*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  min-height: 100vh;
  /* min-height: 750px; */
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 160px;
}

.header__wrapper {
  height: 160px;
  margin-top: 0;
  background-color: #252322;
  opacity: 0.8;
}

.header__inner {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin-bottom: 50px;
}

.header__inner-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.logo {
  margin-right: 15px;
  size: 80%;
}

.header__top {
  color: #fff;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.menu {
  display: block;
}

.menu__btn {
  display: none;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__item {}

.menu__item+.menu__item {
  margin: 0 85px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  font-family: Roboto;
  padding-bottom: 5px;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.menu__link:hover {
  /* color: #E33176; */
  border-bottom: 1px solid #fefefe;
}

.logo {
  display: block;
}

.contact {
  display: flex;
  display: block;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: Roboto;
}

.contact__inner {
  margin-top: 35px;
}

.contact__inner span {
  color: #fff;
}

.contact__location {
  display: inline-block;
  position: relative;
  transition: all 0.2s;
}

.contact__location a {
  color: #fff;
}

.contact__location::after {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker.svg);
  left: -20px;
}

.contact__inner-phone {
  margin-right: 40px;
  display: inline-block;
  position: relative;
  transition: all 0.2s;
}

.contact__inner-phone:hover, .contact__inner-email:hover, .contact__location:hover {
  transform: scale(1.2);
}

.contact__inner-phone span::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: -3px;
  background-image: url(../images/smartphone.svg);
  left: -20px;
}

.contact__inner-email {
  display: inline-block;
  position: relative;
  transition: all 0.2s;
}

.contact__inner-email span::after {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background-image: url(../images/mail.svg);
  left: -20px;
}

.header__content {
  margin-bottom: 80px;
}

.header__title {
  font-family: Roboto;
  color: #333333;
  font-size: 54px;
  line-height: 75px;
  letter-spacing: 3px;
  margin: 5px;
  font-weight: 100;
  max-width: 14em;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 40px;
}

.header__btn {
  display: block;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  color: #333333;
  border: 1px solid #333333;
  padding: 15px 10px 16px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: 50px;
  transition: all 0.5s;
}

.header__btn:hover {
  color: #fff;
  background-color: #E33176;
  border: none;
}

/*================================= importantly ==============================*/

.importantly {
  font-family: "Roboto", serif;
  margin-bottom: 120px;
}

.importantly__heading {
  display: flex;
  display: block;
  align-items: center;
}

.heading__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 68px;
  text-align: center;
  margin-bottom: 50px;
}

.heading__toptex {
  color: #B19C73;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
  margin: 5px 185px;
  margin-bottom: 50px;
}

.heading__text {
  color: #575757;
  font-size: 26px;
  line-height: 34px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 120px;
}

.importantly__bottom {
  display: flex;
}

.bottom__content {
  display: block;
  padding: 5px;
}

.bottom__title {
  display: block;
  color: #000;
  font-size: 40px;
  line-height: 54px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 90px;
  position: relative;
}

.bottom__title::before {
  content: '';
  width: 200px;
  height: 2px;
  background-color: #B19C73;
  position: absolute;
  margin-left: 0;
  bottom: -60px;
}

.bottom__text {
  color: #000;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 90px;
}

.bottom__img {
  margin: 50px 45px 0 25px;
}

.benefits {}

.title {
  font-family: "Roboto", sans-serif;
  color: #B19C73;
  font-weight: 700;
  font-size: 54px;
  line-height: 68px;
  text-align: center;
  margin-bottom: 130px;
}

.benefits__text::before {
  content: '';
  width: 200px;
  height: 2px;
  background-color: #B19C73;
  position: absolute;
  margin-left: 0;
  margin-top: -25px;
}

.benefits__content {
  display: flex;
  margin-bottom: 90px;
}

.benefits__images {
  /* background-size: cover; */
  margin-right: 50px;
}

.benefits__text {
  color: #575757;
  font-size: 24px;
  font-style: italic;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
  margin-top: 150px;
}

.benefits__list {
  margin-bottom: 120px;
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  /* border-right: 1px solid #4A4E57; */
  width: 300px;
  min-height: 450px;
  padding: 0 35px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* justify-content: space-around; */
}

.benefits__item+.benefits__item {
  border-left: 1px solid rgba(74, 78, 87, 0.5);
  height: 100%;
}

.benefits__item-img {
  height: 70px;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 70px;
}

.benefits__item-title {
  display: inline-block;
  height: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  margin-bottom: 20px;
}

p.benefits__item-title {
  padding-top: 35px;
}

.benefits__item-text {
  font-family: "Roboto", sans-serif;
  color: #4A4E57;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  padding-left: 25px;
}

.servicces {}

.container {}

.servicces__title {}

.title {}

.servicces__inner {
  margin-bottom: 100px;
}

.servicces__item {
  display: flex;
  justify-content: space-between;
}

.servicces__images {
  max-width: 300px;
  max-height: 200px;
  margin-top: 25px;
}

.servicces__content {
  font-family: "Roboto", sans-serif;
  color: #535353;
}

.servicces__content-title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5%;
  margin-bottom: 30px;
}

.servicces__content-text {
  font-size: 14px;
  font-weight: normal;
  max-width: 200px;
  padding: 0 5px;
}

.servicces__table {}

.resize-handle {}

table {
  display: grid;
  border-collapse: collapse;
  max-width: 600px;
  /* These are just initial values which are overriden using JavaScript when a column is resized */
  grid-template-columns: minmax(80px, 1fr) minmax(415px, 1fr) minmax(55px, 1fr)
}

thead, tbody, tr {
  display: contents;
}

th, td {
  font-size: 0.875rem;
  text-align: center;
  padding: 15px 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #ff0080;
  text-align: center;
  font-weight: 700;
  /* font-size: 0.875rem; */
  color: white;
  position: relative;
}

/* th:last-child {
  border: 0;
} */

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  width: 3px;
  /* cursor: col-resize; */
}

/* .resize-handle:hover,
.header--being-resized .resize-handle {
  opacity: 0.5;
}

th:hover .resize-handle {
  opacity: 0.3;
} */

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

/* .servicces__table:hover {
  transform: scale(1.2);
} */

tr:nth-child(even) td {
  background: #f8f6ff;
}

.aplication {
  margin-bottom: 150px;
}

.aplication__content {
  position: relative;
}

.aplication__title {
  text-align: left;
  padding-left: 10%;
  margin-bottom: 85px;
  margin-top: 170px;
}

.aplication__text {
  color: #B96596;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  margin-left: 15%;
  max-width: 600px;
  margin-bottom: 85px;
  font-family: 'Marck Script', cursive;
}

.aplication__btn {
  position: relative;
  display: block;
  margin-left: 20%;
}

.aplication__btn:hover {
  border: 1px solid #E33176;
}

.aplication__images {
  position: absolute;
  right: 0;
  bottom: -150px;
}

.contacts {
  padding: 100px 0;
  background-color: #333333;
  color: #fff;
}

.contacts__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 31px;
  line-height: 39px;
  color: #CCCCCC;
  text-align: center;
  margin-bottom: 70px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__content {
  padding: 5px;
}

.contacts__info {
  list-style: none;
}

.contacts__item {
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 30px;
}

.contacts__item-text {
  color: #CCCCCC;
  position: relative;
}

.contacts__item-phone, .contacts__item-meil {
  padding-left: 30px;
}

.contacts__item-phone::after {
  content: '';
  position: absolute;
  top: 5px;
  width: 25px;
  height: 25px;
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
  left: -2px;
}

.contacts__item-meil::after {
  content: '';
  position: absolute;
  top: 5px;
  width: 25px;
  height: 25px;
  background-image: url(../images/post.svg);
  background-repeat: no-repeat;
  left: -2px;
}

.contacts__day {
  display: block;
  padding: 5px;
}

.contacts__list {
  list-style: none;
}

.contacts__list-text {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 14px 10px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.contacts__list-text::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #E33176;
  left: -5px;
  bottom: 18px;
}

.contacts__list-text:nth-child(4)::before, .contacts__list-text:nth-child(6)::before, .contacts__list-text:nth-child(7)::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: inherit;
  left: -5px;
  bottom: 18px;
}

span.contacts__list-time {
  display: block;
  padding-right: 5%;
}

.contact__location {
  padding: 5px;
}

.footer {
  padding: 30px 0 24px;
  background-color: #252322;
  color: #fff;
}

.footer__link {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 30px;
}

.footer__menu {}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  max-width: 300px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}

.footer__social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-item {}

.footer__social-link {
  display: flex;
  display: block;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: Roboto;
  margin: 0 15px;
}

.footer__social-img {}

.footer__contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 1px;
  align-items: right;
  justify-content: center;
}

.footer__contact a {
  color: #fff;
}

.footer__contact-phone {
  padding-bottom: 10px;
}

.footer__contact-email {}

.footer__developer {
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  padding-right: 15px;
  margin-top: 5px;
}

.footer__developer span {
  padding-left: 5px;
}

#button-up {
  display: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: fixed;
  right: 20px;
  bottom: 50px;
  color: #B19C73;
  transition: .3s;
}

#button-up:hover {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: .3s;
  color: #5d3f03;
}

.picture {
  position: relative;
  width: 65px;
  height: 65px;
}

.picture .overlay {
  position: absolute;
  top: 5%;
  left: 79%;
  margin: 0 -50px;
  width: 60px;
  height: 60px;
  transition: .3s;
}

.picture .overlay:hover {
  position: absolute;
  top: -15%;
  left: 79%;
  margin: 0 -50px;
  width: 60px;
  height: 60px;
  transition: .3s;
}

/* свойства модального окна по умолчанию */

.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}

.modal-content {}

/* при отображении модального окно */

.modal:target {
  opacity: 1;
  /* делаем окно видимым */
  pointer-events: auto;
  /* элемент видим для событий мыши */
  overflow-y: auto;
  /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
    /* для отображения модального окна по центру */
  }
}

/* свойства для блока, содержащего контент модального окна */

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../images/introCover.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, .2); */
  border-radius: .3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

/* свойства для заголовка модального окна */

.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 15%;
}

/* свойства для кнопки "Закрыть" */

.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */

.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.contacts__form {
  /* background-color: #21062a; */
  padding: 50px 75px 57px;
  text-align: center;
}

.contacts__input {
  background-color: transparent;
  width: 100%;
  height: 75px;
  color: #000;
  border: 1px solid #fff;
  margin-bottom: 12px;
  display: block;
  font-size: 24px;
  padding: 0 15px;
  text-align: center;
}

input::placeholder {
  color: #fff;
  font-size: 1.1em;
  font-style: italic;
}

.contacts__btn {
  color: #000;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #ccc;
  border: 2px solid #fff;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s;
}

.contacts__btn:hover {
  opacity: .9;
  transition: all 0.5s;
}

.button {}

@media (max-width: 1170px) {
  .aplication__text {
    margin-left: 10%;
  }
}

@media (max-width: 1100px) {
  .contact {
    letter-spacing: 0;
  }
  .menu__link {
    letter-spacing: 0;
  }
  .header__title {
    font-size: 48px;
    line-height: 65px;
  }
  .servicces__item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .servicces__content {
    text-align: center;
    width: 100%;
  }
  .servicces__content-text {
    min-width: 100%;
    margin-bottom: 25px;
  }
  .servicces__images {
    margin-bottom: 25px;
  }
  .aplication__images {
    size: 70%;
    width: 38%;
    height: 80%;
    bottom: 0px;
  }
  .contacts__inner {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* text-align: center; */
  }
}

@media (max-width: 990px) {
  .header__top {
    flex-direction: column;
    justify-content: center;
  }
  .header__inner-block {
    width: 100%;
    justify-content: space-around;
  }
  .menu {
    order: 1;
  }
  .header__title {
    font-size: 42px;
    line-height: 55px;
  }
  .benefits__images {
    margin: 0;
  }
  .aplication__images {
    height: 70%;
  }
}

@media (max-width: 850px) {
  .benefits__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits__images {
    order: 2;
  }
  .benefits__text {
    margin-top: 0;
    padding: 5px;
  }
  .benefits__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits__item+.benefits__item {
    border-left: none;
  }
  .aplication__images {
    height: 50%;
    width: 30%;
  }
  @media (max-width: 760px) {
    .header__title {
      font-size: 38px;
      line-height: 52px;
      font-weight: 400;
      width: 100%;
      margin: 0;
    }
    .aplication__images {
      display: none;
    }
    .aplication__title {
      text-align: center;
    }
    .header__btn {
      font-size: 19px;
      line-height: 22px;
      margin-left: 0;
      margin-right: 0;
      width: 230px;
    }
    .heading__toptex {
      margin: 0;
    }
    .bottom__img {
      display: none;
    }
    .heading__toptex {
      margin: 0 0 25px;
    }
    .footer__content {
      flex-wrap: wrap;
    }
    .footer__text {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 680px) {
    .bottom__title {
      text-align: center;
    }
    .aplication__btn {
      margin: auto;
    }
  }
  @media (max-width: 620px) {
    .header__inner-block {
      display: flex;
      flex-wrap: wrap;
    }
    .contact__inner {
      margin-top: 10px;
    }
    .header__top {
      display: flex;
      flex-direction: row
    }
    .menu__list {
      padding: 20px;
    }
    .header .menu .contac {
      display: none;
    }
    .menu {
      order: 1;
    }
    .menu__list {
      /* display: block; */
      position: absolute;
      top: 0;
      left: 0;
      background-color: #252322;
      opacity: .8;
      right: 0;
      text-align: center;
      padding: 30px 0;
      transform: translateY(-500px);
      transition: all .5s;
    }
    .menu__list.menu__list--active {
      transform: translateY(0);
    }
    .menu__list-link {
      padding: 50px 0;
      display: block;
    }
    .menu__item {
      display: block;
      padding: 10px 0;
    }
    .menu__btn {
      display: block;
      cursor: pointer;
      width: 35px;
      height: 24px;
      border: none;
      border-top: 2px solid #fefefe;
      border-bottom: 2px solid #fefefe;
      background-color: transparent;
      position: relative;
      margin-right: 25px;
      margin-top: 65px;
      z-index: 100;
      order: 1;
    }
    .menu__btn::before {
      content: '';
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #fefefe;
      left: 0;
      top: 9px;
    }
    table {
      grid-template-columns: minmax(315px, 1fr)
    }
    .benefits__images {
      display: none;
    }
    .aplication__title {
      margin-bottom: 25px;
    }
    .aplication__text {
      margin-bottom: 25px;
      text-align: center;
    }
  }
  @media (max-width: 410px) {
    .header__title {
      font-size: 28px;
      line-height: 34px;
    }
    .menu__item+.menu__item {
      margin: 0 40px;
    }
    .benefits__images {
      display: none;
    }
    .bottom__title::before {
      display: none;
    }
    .contacts__locations {
      /* width: 320px; */
      display: none;
    }
  }
  